{% set base_url = base_url|rtrim('/') %}
<form role="form">
    {% block tntsearch_input %}
    <div id="tntsearch-wrapper" class="form-group">
        <input type="text" class="form-control" id="tntsearch" placeholder="Search...">
    </div>
    {% endblock %}
    <div id="tntsearch-results"></div>
</form>

<script>
    $(window).load(function(){
        $('#tntsearch').keyup(function(){
            var searchField = $('#tntsearch').val();
            var snippetLength = $('#tntsearch').data('snippet') || '';
            var limit = $('#tntsearch').data('limit') || '';
            var count = 1;

            $.getJSON('{{ base_url }}/{{ config.get('plugins.tntsearch.query_route','s')|ltrim('/') }}?q='+searchField+'&sl='+snippetLength+'&l='+limit, function(data) {
                var output = '<div class="row"><p class="info">';
                {% if config.get('plugins.tntsearch.display_hits') %}
                output += '<span class="hits">Found ' + data.number_of_hits + ' results</span> ';
                {% endif %}
                {% if config.get('plugins.tntsearch.display_time') %}
                output += '<span class="time">in  <span>' + data.execution_time + ')</span></span>';
                {% endif %}
                output += '</p>'

                $.each(data.hits, function(key, val) {
                    output += '<h5 class="title"><a href="{{ base_url }}' + val.link + '">' + val.title + '</a></h5>';
                    {% if config.get('plugins.tntsearch.display_route') %}
                    output += '<h6 class="route">' + val.link + '</h6>';
                    {% endif %}
                    output += '<p>' + val.content + '</p>';
                    count++;
                });

                output += '</div>';
                $('#tntsearch-results').html(output);
            });
        });
    });
</script>