{% set uri = base_url|rtrim('/') ~ '/' ~ config.get('plugins.tntsearch.query_route', 's')|trim('/') %}
{% set options = { uri: uri, limit: '', snippet: '', min: 3 } %}
<form role="form">
    {% block tntsearch_input %}
    <div id="tntsearch-wrapper" class="form-group">
        <input type="text" class="form-control tntsearch-field" data-tntsearch="{{ options|json_encode|e('html_attr') }}" placeholder="Search...">
    </div>
    {% endblock %}
    <div class="tntsearch-results{{ in_page ? ' tntsearch-inpage' : '' }}"></div>

    <p class="tntsearch-powered-by">
        Powered by <a href="https://github.com/trilbymedia/grav-plugin-tntsearch" target="_blank">TNTSearch</a>
    </p>
</form>