.tntsearch-dropdown ~ #tntsearch-results {
    position: relative;
    margin-bottom: 0;
}

.tntsearch-dropdown ~ #tntsearch-results .row {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
    padding: 10px;
    z-index: 100;
}

#tntsearch-results .info {
    color: #999;
    font-size: 90%;
}

#tntsearch-results .title {
    margin-bottom: 10px;
}

#tntsearch-results .route {
    margin-top: 0;
    margin-bottom: 10px;
}

